<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <h1>Url Shortener</h1>
    <div>
        <!-- method is used for the type of http request to be made -->
        <!-- action shows to which route the http request to be made  -->
        <form method="post" action="/url">
            <label>Enter your Original Url: </label>
            <input type="text" name="url" placeholder="https://example.com">
            <button type="submit">Generate</button>
        </form>
    </div>
</body>
</html>